.Character-CharactersList-actionIcon {
  width: 30px;
  height: 30px;
  padding: 2px;
}

.Character-CharactersList-actionIcon--active {
  background-color: #0000cc;
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}
