{% extends "character_base.html" %}
{% block title %} {{ t("title_page_events") }} {% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="navbar-inner" id="player_top_bar"></div>
     <div class="navbar-inner" id="character_top_bar"></div>
    </nav>

    <div class="row">
        <br><br><br><br><br><br>
    </div>
    <div class="row">
        <div class="col-md-6" id="speaking_form_dock">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="events_list_contents">
                <ol>
                </ol>
            </div>
        </div>
        <div class="col-md-4" id="people_short_dock">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for("character_static.static", filename="js/events/page_events.js") }}"></script>
{% endblock %}
