{% extends "page_base.html" %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for("character_static.static", filename="style.css") }}" rel="stylesheet" media="screen">
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for("character_static.static", filename="js/services/global.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("character_static.static", filename="js/services/activity.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("character_static.static", filename="js/services/top_bar.js") }}"></script>
{% endblock %}
