<div class="panel panel-default" id="combat-box" data-id="{{ encode(combat_entity.id) }}">
    <div class="panel-heading">
        {{ t("title_combat") }}
    </div>
    <div class="panel-body">
        <div class="row">
            {% if own_action %}
                <div class="col-md-12">

                    Damage: {{ own_action.executor.damage }}<br>
                    Stance: {{ own_action.stance }}

                    <button class="combat_stance" value="{{ combat_stances.STANCE_OFFENSIVE }}">offensive</button>
                    <button class="combat_stance" value="{{ combat_stances.STANCE_DEFENSIVE }}">defensive</button>
                    <button class="combat_stance" value="{{ combat_stances.STANCE_RETREAT }}">retreat</button>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if not own_action %}
                    <button class="combat_join" value="{{ combat_stances.SIDE_ATTACKER }}">Join attacker</button>
                {% endif %}
                <ul>
                    {% for attacker_action in attackers %}
                        <li class="list-group-item" data-id="{{ encode(attacker_action.executor.id) }}">
                            {{ t("character_info", html=True, **attacker_action.executor.pyslatize())|safe }}
                            Damage: {{ attacker_action.executor.damage }}
                            ({{ combat_entity.recorded_violence.get(attacker_action.executor.id|string, 0) }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                {% if not own_action %}
                    <button class="combat_join" value="{{ combat_stances.SIDE_DEFENDER }}">Join defender</button>
                {% endif %}
                <ul>
                    {% for defender_action in defenders %}
                        <li class="list-group-item" data-id="{{ encode(defender_action.executor.id) }}">
                            {{ t("character_info", html=True, **defender_action.executor.pyslatize())|safe }}
                            Damage: {{ defender_action.executor.damage }}
                            ({{ combat_entity.recorded_violence.get(defender_action.executor.id|string, 0) }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <ul class="list-group">

    </ul>
</div>
