<div class="modal fade" id="recipe_setup_modal" data-recipe="{{ encode(recipe_id) }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                {% for form_field, field_type in form_inputs.items() %}
                    {% if field_type == "NameInput" %}
                    <label>
                        {{ form_field }}:
                        <input class="recipe_input" name="{{ form_field }}" type="text">
                    </label>
                    {% endif %}
                    {% if field_type == "AmountInput" %}
                    <label>
                        {{ form_field }}:
                        <input class="recipe_input" name="{{ form_field }}" type="number">
                    </label>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create_activity_from_recipe">Create</button>
            </div>
        </div>
    </div>
</div>