{% extends "character_base.html" %}
{% block title %} {{ t("title_page_actions") }} {% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner" id="player_top_bar"></div>
        <div class="navbar-inner" id="character_top_bar"></div>
    </nav>

    <br><br><br><br><br><br><br>
    <div id="actions_list">
        <ol class="btn-group-vertical" role="group">
        </ol>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for("character_static.static", filename="js/actions/page_actions.js") }}"></script>
{% endblock %}
