
.ActionsBar-bar {
  background-color: #e0e0e0;
  z-index: 3;
}

.ActionsBar-actionsList {
  white-space: nowrap;
  overflow-x: auto;
}

li.ActionsBar-actionItem {
  width: 100px;
  display: inline-block;
  float: none;
}

.ActionsBar-actionItemCaption {
  text-align: center;
}

