.Character-TopBar-Nav {
  background-color: #e0e0e0;
}

.Character-TopBar-State {
  font-size: 35px;
  line-height: 1;
}

.Character-TopBar-State span {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.Clickable {
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .Character-TopBar-NavItem, .Character-TopBar-Nav.nav-pills > li + li {
    width: 20%;
    margin: 0;
  }

  #characterMenu-dropdown > .caret {
    display: none;
  }

  .Character-TopBar-Nav {
    text-align: center;
  }
}
