{% extends "character_base.html" %}
{% block title %} {{ t("title_page_events") }} {% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner" id="player_top_bar"></div>
        <div class="navbar-inner" id="character_top_bar"></div>
    </nav>

    <br><br><br><br><br><br>
    <img src="{{ url_for("character.map_image", character_id=g.character.id) }}">

    <div class="col-md-4" id="control-movement-dock">
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for("character_static.static", filename="js/map/page_map.js") }}"></script>
{% endblock %}
