<div class="modal fade" id="add_to_activity" data-added_entity="{{ encode(entity_to_add.id) }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add {{ t("entity_info", **entity_to_add.pyslatize()) }} to activity</h4>
            </div>
            <div class="modal-body">
                <label for="selected_activity">Select activity: </label><select id="selected_activity">
                    {% for activity in activities %}
                        <option>{{ activity.name }} ({{ activity.amount }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="readable_edit">Edit
                </button>
            </div>
        </div>
    </div>
</div>