<div class="modal fade" id="put_into_storage_modal" data-item_to_put="{{ encode(item.id) }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Put {{ t("entity_info", **item.pyslatize()) }} into storage</h4>
            </div>
            <div class="modal-body">
                <label for="selected_storage">Select activity: </label><select id="selected_storage">
                {% for storage in storages %}
                    <option value="{{ encode(storage.id) }}">{{ t("entity_info", **storage.pyslatize()) }}</option>
                {% endfor %}
            </select>
                <label for="put_into_storage_amount">Amount: </label><input id="put_into_storage_amount" type="number">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="put_into_storage_confirm">Add all</button>
            </div>
        </div>
    </div>
</div>
