.CharacterPage-TopBarPlaceholder {
  height: 85px;
}

@media all and (max-width: 768px) {
  .CharacterPage-TopBarPlaceholder {
    height: 45px;
  }
}

.TupleNavTabsContainer > ul > li {
  width: 50%;
  text-align: center;
}

.TripleNavTabsContainer > ul > li {
  width: 33%;
  text-align: center;
}

.TupleNavTabsContainer > ul > li.active, .TripleNavTabsContainer > ul > li.active {
  font-weight: bolder;
}
