.EntitiesList-EntityChildren {
  padding: 0 0 0 15px;
}

.EntitiesList-EntityList {
  margin-bottom: 0;
}

/* Rounded corners look ugly for nested lists */
.EntitiesList-EntityInfo.list-group-item:last-child, .EntitiesList-EntityInfo.list-group-item:first-child {
  border-radius: 0;
}

.EntitiesList-ActivityList {
  @extend .EntitiesList-EntityInfo;
  background-color: #f5f5f5;
  margin-left: 15px;
  padding: 2px 15px 7px 15px;
}
