{% extends "bootstrap/base.html" %}
{% block title %} {{ t("title_page_player") }} {% endblock %}
{% block content %}
    <ol>
    {% for ch in chars %}
        <li>{{ ch.id }} - {{ ch.name }}</li>
    {% endfor  %}
    </ol>
    <input type="text" id="char_name">
    <button id="create_character">New character</button>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript"
        src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}</script>

    <script type="text/javascript">

    var a = 0;
    var _last_event = 0;
    var EVENTS = {};

    EVENTS.update_events = function(new_events, last_event) {
        for (var i = 0; i < new_events.length; i++) {
            new_events[i] = new_events[i].replace(/(\*+[^*]+\*+)/g, "<b>$1</b>");
            $(".events_list_view_contents > ol").prepend("<li>" + new_events[i] + "</li>");
        }
        _last_event = last_event;
    };

    $(function() {
        $("#create_character").click(function() {
        var char_name = $("#char_name").val();
        Sijax.request("create_character", [char_name]);
    });
    });



    // generic trigger
    EVENTS.trigger = function(event_name) {
        $(EVENTS).trigger(event_name);
    };

    </script>
{% endblock %}
