{% extends "bootstrap/base.html" %}
{% block title %} {{ t("title_page_player") }} {% endblock %}
{% block content %}
    <ol>
    {% for ch in chars %}
        <li><a href="{{ url_for("character.page_events", character_id=ch.id) }}">{{ ch.id }} - {{ ch.name }}</a></li>
    {% endfor  %}
    </ol>
    <input type="text" id="char_name">
    <button id="create_character">New character</button>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript"
        src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}</script>

    <script type="text/javascript">

    var EVENTS = {};

    $(function() {
        $("#create_character").click(function() {
            var char_name = $("#char_name").val();
            Sijax.request("create_character", [char_name]);
        });
    });

    // generic trigger
    EVENTS.trigger = function(event_name) {
        $(EVENTS).trigger(event_name);
    };

    </script>
{% endblock %}
