<div class="navbar-inner" id="player_top_bar">
    <a href="{{ url_for("player.page_player") }}"
       class="btn btn-default navbar-btn {% if not g.character %} btn-primary{% endif %}">Community</a>
    {% for other_character in g.player.alive_characters %}
        <a href="{{ url_for("character.page_events", character_id=other_character.id) }}"
           class="btn {% if g.character == other_character %} btn-primary {% else %} btn-default {% endif %}
           navbar-btn">{{ g.pyslate.t("character_info", **other_character.pyslatize(html=True, observer=other_character, dynamic_nameable=False))|safe }}</a>
    {% endfor %}
</div>
