{% extends "page_base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Exeris
                    <small>a browser-based crafting and exploration game</small>
                </h2>
                <p>
                    It's a prealpha version of the Exeris game. I hope you've already noticed it's using an early
                    development build. ;)
                    <br>
                    I'm focused on the internals at the moment and that's why the game lacks user interface,
                    proper translations (despite the fact the translation engine is working) or sophisticated error
                    handling.<br>
                    <br>
                    GreeK
                </p>

                {% if config.FRONT_PAGE_ANNOUNCEMENT %}
                    <div class="alert alert-info" style="width:700px;max-width:100%;">
                        <strong>Announcement!</strong>
                        <br>
                        {{ config.FRONT_PAGE_ANNOUNCEMENT|safe }}
                    </div>
                {% endif %}

                <h3>Links</h3>
                If you are interested in reading more about the game consider visiting:
                <ul>
                    <li><a href="https://blog.exeris.org">Exeris Blog</a> - articles regarding the plans, game mechanics
                        etc.
                    </li>
                    <li><a href="https://tree.taiga.io/project/greekpl-exeris/">Taiga.io</a> - the dev wiki and work
                        status
                    </li>
                    <li><a href="https://forum.exeris.org">Exeris forum</a> (you can log in using the game account
                        created on users.exeris.org)
                    </li>
                    <li><a href="https://users.exeris.org">users.exeris.org</a> - the main game instance handling the
                        user accounts.
                        Registration there is required to get access to the forum or the development server.
                    </li>
                    <li><a href="https://dev.exeris.org">dev.exeris.org</a> - the development server with ability to
                        create test
                        characters. It presents the newest features. Accounts on dev.exeris.org are copied from
                        users.exeris.org, because the data on dev instance is often wiped.
                    </li>
                    <li><a href="https://github.com/alchrabas/exeris">GitHub</a> - code repository
                    </li>
                </ul>

                {% include "security/_menu.html" %}
            </div>
        </div>
    </div>
{% endblock %}
